.DS_Store
.vscode/settings.json
testgrid.html
data/alldata_da.csv
data/alldata.csv
data/alldata.html
data/alldata.json
data/alldatainfo.csv
data/alldatainfo.json
data/off-n2011-2020.csv
data/sumdata20241014.svg
data/sumdata20241015.svg
data/sumdata20241016.svg
data/sumdata20241023.svg
data/sumdata20241220.svg
data/sumdata20250602.svg
data/sumgraph.svg
data/timegrid.json
public/htmlgrid.php
public/nedbor.html
public/timegrid.html
public/css/timegrid.css
public/scripts/timegrid.js
src/python/koder.txt
src/python/poly.py
src/python/testfile.txt
src/python/machineL/
src/python/modules/__pycache__/
src/python/stat/
src/python/stuff/
vendor/
data/sumdata20251007.svg
